*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    background-color: #D5E1EF;
}

.qr-container {
    max-width: 350px;
    margin: 0 auto;
}

.qr-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 4rem;
    text-align: center;
    background-color: #FFFFFF;
}

.qr-image {
    width: 100%;
    border-radius: 2.5rem;
}

.qr-heading {
    margin: 2rem 0;
    color: hsl(218, 44%, 22%);
}

.qr-description {
    width: 28rem;
    margin-bottom: 4rem;
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin: 5rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile Design */
@media screen and (max-width: 375px) {
    .qr-card {
        margin: 2rem;
    }
}

/* Desktop Design Design */
/* @media screen and (max-width: 1440px) {} */