*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
}

.qr-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 3rem;
    margin: 0 2rem;
    border-radius: 4rem;
    text-align: center;
}

.qr-image {
    width: 100%;
    border-radius: 1rem;
}

.qr-heading {
    width: 45rem;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(218, 44%, 22%);
}

.qr-description {
    width: 28rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    /* word-break: break-all; */
}

.attribution {
    margin-top: 5rem;
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Mobile Design */
@media screen and (max-width: 375px) {}

/* Desktop Design Design */
@media screen and (max-width: 1440px) {}