:root {
  --body-bg: hsl(212, 45%, 89%);
  --qr-card-bg: hsl(0, 0%, 100%);
  --qr-heading: hsl(218, 44%, 22%);
  --qr-desc: hsl(220, 15%, 55%);
}

/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* CSS Style */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Outfit", sans-serif;
  margin: 2rem;
  background-color: var(--body-bg);
  overflow: hidden;
}

main {
  display: grid;
  place-items: center;
}

.card {
  max-width: 22rem;
  padding: 1.1rem;
  border-radius: 1.5rem;
  text-align: center;
  color: var(--qr-desc);
  background-color: var(--qr-card-bg);
  box-shadow: 2px 23px 28px -3px hsl(220, 15%, 55%, 0.15);
}

.image {
  border-radius: 0.8rem;
}

.card__content {
  padding: 0.6rem;
}

.card__heading {
  margin-top: 1rem;
  color: var(--qr-heading);
}

.card__desc {
  margin-block: 1rem;
}

.attribution {
  margin: 2rem auto;
  text-align: center;
  color: hsl(0, 0%, 0%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
